* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

@font-face {
    font-family: roboto;
    src: url(Roboto-Regular.ttf);
}

@font-face {
    font-family: bigfont;
    src: url(Gobold-Bold.ttf);
}

@font-face {
    font-family: lemon;
    src: url(LemonMilk.otf);
}

@font-face {
    font-family: caviar;
    src: url(CaviarDreams.ttf);
}

@font-face {
    font-family: profont;
    src: url(Pro-Font.ttf);
}

body {
    background-color: #fff;
    background-size: 40px 40px;
    background-image: linear-gradient(to right, rgb(201, 201, 201) 1px, transparent 1px), linear-gradient(to bottom, rgb(201, 201, 201) 1px, transparent 1px);
}

.logo {
    position: fixed;
    top: 8px;
    left: 15px;
    width: 100px;
    filter: drop-shadow(1px 1px 5px rgba(0,0,0,0.4));
    z-index: 2;
}

.nav {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 41px;
    padding-top: 3px;
    background-color: #fff;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.3);
    padding-left: 130px;
    z-index: 1;
    user-select: none;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.nav li {
    display: inline;
    margin-right: 50px;
    font-size: 25px;
    font-family: lemon;
}

.nav li a {
    text-decoration: none;
    color: #597eb7;
}

.nav li a:hover {
    opacity: 0.7;
}

.overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100vh; 
    width: 100%;
    display: flex; 
    align-items: center; 
    justify-content: center;
    background-color: rgba(0,0,0,0.3);
}

.overlay .info-box {
    display: none;
    position: relative;
    width: 500px;
    padding: 10px;
    background-color: #fff;
    text-align: center;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.6);
}

.overlay .info-box .title {
    font-family: roboto;
    font-size: 35px;
    border-bottom: 1px solid #000;
}

.overlay .info-box .info {
    font-family: caviar;
    font-size: 20px;
    margin-top: 12px;
    text-align: left;
}

.overlay .info-box .bold {
    font-size: 23px;
    font-weight: bold;
}

.overlay .info-box .info img {
    float: left;
    margin-right: 15px;
    user-select: none;
}

.overlay .info-box .close {
    position: absolute;
    top: 0px;
    right: 7px;
    font-family: profont;
    font-size: 35px;
    cursor: pointer;
}

.overlay .info-box .close:hover {
    opacity: 0.7;
}

.overlay .info-box .person {
    width: 65px;
    border-radius: 50%;
    margin-top: 10px;
}

canvas {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
}