* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

@font-face {
    font-family: roboto;
    src: url(Roboto-Regular.ttf);
}

@font-face {
    font-family: bigfont;
    src: url(Gobold-Bold.ttf);
}

@font-face {
    font-family: lemon;
    src: url(LemonMilk.otf);
}

@font-face {
    font-family: caviar;
    src: url(CaviarDreams.ttf);
}

@font-face {
    font-family: profont;
    src: url(Pro-Font.ttf);
}

body {
    background-color: #fff;
}

.logo {
    position: fixed;
    top: 8px;
    left: 15px;
    width: 100px;
    filter: drop-shadow(1px 1px 5px rgba(0, 0, 0, 0.4));
    z-index: 2;
}

.nav {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 41px;
    padding-top: 3px;
    background-color: #fff;
    border-bottom: 2px solid #cecece;
    padding-left: 140px;
    z-index: 1;
    user-select: none;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.nav li {
    display: inline;
    margin-right: 50px;
    font-size: 30px;
    font-family: caviar;
}

.nav li a {
    text-decoration: none;
    color: #597eb7;
}

.nav li a:hover {
    opacity: 0.7;
}

.overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.3);
}

.overlay .info-box {
    display: none;
    position: relative;
    width: 500px;
    padding: 10px;
    background-color: #fff;
    text-align: center;
    box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
}

.overlay .info-box .title {
    font-family: roboto;
    font-size: 35px;
}

.overlay .info-box .info {
    font-family: caviar;
    font-size: 20px;
    margin-top: 12px;
    text-align: left;
    line-height: 30px;
}

.overlay .info-box .bold {
    font-size: 23px;
    font-weight: bold;
}

.overlay .info-box .info .float-img {
    float: left;
    margin-right: 15px;
    user-select: none;
    position: relative;
    top: 10px;
    width: 65px;
    filter: drop-shadow(1px 1px 4px rgba(0, 0, 0, 0.25));
}

.overlay .info-box .close {
    position: absolute;
    top: 0px;
    right: 7px;
    font-family: profont;
    font-size: 35px;
    cursor: pointer;
}

.overlay .info-box .close:hover {
    opacity: 0.7;
}

.overlay .info-box .person {
    display: inline-block;
    width: 175px;
    height: 250px;
    border-radius: 8px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    margin-top: 10px;
    margin-left: 3px;
    margin-right: 3px;
    vertical-align: top;
}

.overlay .info-box .person img {
    width: 100px;
    border-radius: 50%;
    margin-top: 10px;
    border: 2px solid #c1c1c1;
}

.overlay .info-box .person .name {
    font-family: roboto;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 12px;
    color: #565656;
}

.overlay .info-box .person ul {
    list-style-position: inside;
    font-family: caviar;
    font-size: 15px;
    padding-left: 6px;
    text-align: left;
}

.overlay .info-box .person ul li {
    margin-bottom: 5px;
}

.overlay .info-box .person ul .job {
    position: relative;
    left: -8px;
}

.tool-container {
    position: fixed;
    right: 10px;
    top: 55px;
}

.toolbox {
    position: relative;
    width: 200px;
    height: 253px;
    border: 3px solid #545454;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding-top: 15px;
}

.tool-container .close {
    position: absolute;
    top: -11px;
    right: 10px;
    font-family: bigfont;
    font-size: 35px;
    color: #808080;
    cursor: pointer;
    user-select: none;
    z-index: 1;
}

.toolbox .slider {
    width: 180px;
}

.toolbox .slider-text {
    position: absolute;
    top: 7px;
    left: 11px;
    font-family: profont;
    font-size: 10px;
    color: #808080;
}

.toolbox .slider-text-bottom {
    position: absolute;
    bottom: 2px;
    right: 11px;
    font-family: profont;
    font-size: 10px;
    color: #808080;
}

.toolbox .checkboxes {
    text-align: left;
    padding-left: 10px;
    margin-top: 3px;
}

.toolbox .checkboxes .check {
    display: inline-block;
    margin-right: 5px;
}

.toolbox .checkboxes .check-text {
    display: inline-block;
    font-family: profont;
    font-size: 13px;
    color: #808080;
}

.toolbox button {
    display: inline-block;
    width: 88px;
    height: 30px;
    background-color: #429ef4;
    font-family: lemon;
    font-size: 12px;
    color: #d2f7ff;
    border-radius: 8px;
    cursor: pointer;
}

.toolbox button:active {
    transform: scale(0.9, 0.9);
}

.toolbox .delete .active {
    color: #fff;
    background-color: #57b755;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.toolbox button img {
    width: 11px;
    position: relative;
    top: 1px;
    margin-right: 5px;
}

.toolbox .sizes {
    margin-top: 6px;
}

.toolbox .sizes .size-select {
    width: 57px;
    height: 20px;
    font-size: 10px;
    border-radius: 5px;
}

.toolbox .sizes .active {
    transform: scale(1.1, 1.1);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
    color: #fff;
    background-color: #57b755;
}

.toolbox .shapes {
    margin-top: 8px;
}

.toolbox .shapes .active {
    filter: drop-shadow(1px 1px 4px rgba(0, 0, 0, 0.3)) grayscale(0%);
    transform: scale(1.15, 1.15);
}

.toolbox .shapes img {
    width: 40px;
    margin-right: 10px;
    margin-left: 10px;
    filter: grayscale(100%);
    cursor: pointer;
}

.toolbox .shapes img:active {
    transform: scale(0.9, 0.9);
}

.toolbox .highlight {
    margin-top: 11px;
}

.toolbox .highlight button {
    width: 90px;
    font-size: 10px;
}

.toolbox .highlight .active {
    color: #fff;
    background-color: #57b755;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

canvas {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
}